####### SERVER CONFIG ##############################################################################
SERVER_PORT=3001
####### END SERVER CONFIG ##########################################################################

######## JWT ##################################################################################
JWT_ACCESS_TOKEN_SECRET_USER=654e7aa9*587ed40c1a4@c8d3531e+512e9198dafb681d$88d78aad990ad1743fe667a5%628f34e9fc4d42e1660&97fc567fc24f61
######## END JWT ##################################################################################

####### DATABASE ##############################################################################
DATABASE_URL_LOCAL=mongodb://admin:s5Oh36f9i8a5@127.0.0.1:27017/sofia?authSource=admin
######## END DATABASE #########################################################################

####### NODE_ENV ##############################################################################
NODE_ENV=development
####### END NODE_ENV #########################################################################